<ion-view title="Just a Minute" >
    <ion-content has-header="true" padding="true">
        <div class="card">
            <div class="item item-divider">
                Enter a nickname
            </div>
            <div class="item item-text-wrap">
                <input type="text" placeholder="Select nickname" ng-model="user.name"/>
            </div>
        </div>
        <div class="content padding">
            <button class="button button-positive button-block" ng-click="next()">
                Next
            </button>
        </div>
    </ion-content>
</ion-view>